<template>
    <footer>
        <h3> {{ copyright }} {{ title }} </h3> 
    </footer>
</template>

<script>
export default {
  props: {
      title: {
          type: String
      }
  },
  data () {
    return {
        copyright: `Copyright ${(new Date).getFullYear()}`
    }
  }
}
</script>

<style scoped>
    footer {
        background: #222;
        padding: 10px;
    }
    h3 {
        color: lightblue;
        text-align: center;
    }
</style>
