<template>
  <div>
    <ul class="panels">
        <li v-for="(pet, key) in pets" v-bind:key="key" v-on:click="pet.show = !pet.show">
          <div v-show="!pet.show">{{ pet.name }}</div>
          <div v-show="pet.show">
              <p>Age: {{ pet.age }} y/o</p>
              <p>Color: {{ pet.color }}</p>
          </div>
        </li>
    </ul>
    <button v-on:click="deletePet">Delete Pet</button>
  </div>
</template>

<script>
export default {
  //receiving props
  // props: ['pets'],
  props: {
    pets: {
      // to validate the type of the property
      type: Array,
      required: true
    }
  },
  data () {
    return {
    }
  },
  methods: {
    deletePet: function() {
      this.pets.pop();
    }
  }
}
</script>

<style scoped>
.panels {
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: center;
  align-content: center;
  padding: 5px;
  margin: 0;
}
.panels li {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
}
.panels li div {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.panels li:nth-child(4n+1) {
  background: #267df4;
}
.panels li:nth-child(4n+2) {
  background: #9126f4;
}
.panels li:nth-child(4n+3) {
  background: #21bf3b;
}
.panels li:nth-child(4n+4) {
  background: #c3333d;
}
/* #267df4 
 #9126f4
 #21bf3b
  #c3333d
*/
</style>
