<template>
  <div>
      <app-header v-bind:title="title"></app-header>
      <!-- bind the data to the props to pass it -->
      <app-pets v-bind:pets="pets"></app-pets>
      <app-footer v-bind:title="title"></app-footer>
  </div>
</template>

<script>
import Pets from './components/lesson21/Pets.vue';
import Header from './components/lesson21/Header.vue';
import Footer from './components/lesson21/Footer.vue';

export default {
  components: {
    'app-header': Header,
    'app-pets': Pets,
    'app-footer': Footer,
  },
  data () {
    return {
        pets: [
            { name: 'Aigoo', age: 2, color: 'white', show: false},
            { name: 'Cornietta', age: 9, color: 'gray-stripe', show: false},
            { name: 'Babats', age: 0.5, color: 'gray', show: false},
            { name: 'Mong', age: 3, color: 'orange', show: false},
            { name: 'Chukoy', age: 6, color: 'black', show: false},
            { name: 'Hamtaro', age: 9, color: 'white', show: false} 
        ],
        title: 'List of Pets'
    }
  }
}
</script>

<style>

</style>
